@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FAFAFA;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FAFAFA;
    --foreground: #2a2929;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Poppins';
}
